n8n/workflows/website-scraper.workflow.json
{
  "id": "a1b2c3d4-0100-4000-8000-000000000100",
  "name": "Website Scraper",
  "active": false,
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "scrape",
        "responseMode": "onReceived",
        "options": {}
      },
      "id": "a1b2c3d4-0001-4000-8000-000000000001",
      "name": "Scrape Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [0, 300],
      "webhookId": "website-scraper-scrape"
    },
    {
      "parameters": {
        "jsCode": "const raw = $json.body ?? $json;\nconst project = raw.project;\nconst executionId = raw.executionId;\nconst outputFields = project?.output_fields ?? (raw.outputFields ?? (raw.fields ?? []).map((field_name) => ({ field_name, extract_hint: '' })));\nconst urls = project?.website_urls ?? raw.urls ?? [];\n\nreturn urls.map((startUrl) => ({\n  json: {\n    jobId: raw.jobId,\n    executionId,\n    project,\n    startUrl,\n    outputFields,\n    directions: project?.main_prompt ?? raw.prompt ?? '',\n    summarizePrompt: project?.summarize_prompt ?? raw.summarizePrompt ?? '',\n    fieldPrompt: project?.field_extract_prompt ?? raw.fieldPrompt ?? '',\n    localLlmModel: project?.local_llm ?? raw.localLlmModel ?? 'gemma4:e4b',\n    scraperBaseUrl: raw.scraperBaseUrl ?? 'http://simple-scraper:3000',\n    totalUrls: urls.length,\n  },\n}));"
      },
      "id": "a1b2c3d4-0002-4000-8000-000000000002",
      "name": "Split URLs",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [220, 300]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $json.scraperBaseUrl }}/api/workflow/progress/{{ $json.jobId }}/event",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ type: 'url_start', url: $json.startUrl, message: 'Starting spider for ' + $json.startUrl }) }}",
        "options": {}
      },
      "id": "a1b2c3d4-0003-4000-8000-000000000003",
      "name": "Log URL Start",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [440, 300]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $('Split URLs').item.json.scraperBaseUrl }}/api/workflow/spider",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ url: $('Split URLs').item.json.startUrl }) }}",
        "options": {}
      },
      "id": "a1b2c3d4-0004-4000-8000-000000000004",
      "name": "Spider URL",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [660, 300]
    },
    {
      "parameters": {
        "jsCode": "const ctx = $('Split URLs').item.json;\nconst pages = $json.pages ?? [];\nreturn [{\n  json: {\n    ...ctx,\n    pages,\n    pageCount: pages.length,\n  },\n}];"
      },
      "id": "a1b2c3d4-0005-4000-8000-000000000005",
      "name": "After Spider",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [880, 300]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $json.scraperBaseUrl }}/api/workflow/progress/{{ $json.jobId }}/event",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ type: 'log', level: $json.pageCount > 0 ? 'success' : 'warn', message: $json.pageCount > 0 ? 'Spidered ' + $json.pageCount + ' page(s) at ' + $json.startUrl : 'Skipped ' + $json.startUrl + ': no pages scraped' }) }}",
        "options": {}
      },
      "id": "a1b2c3d4-0006-4000-8000-000000000006",
      "name": "Log Spider Done",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1100, 300]
    },
    {
      "parameters": {
        "conditions": {
          "options": { "caseSensitive": true, "leftValue": "", "typeValidation": "strict", "version": 2 },
          "conditions": [
            {
              "id": "has-pages",
              "leftValue": "={{ $('After Spider').item.json.pageCount }}",
              "rightValue": 0,
              "operator": { "type": "number", "operation": "gt" }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "a1b2c3d4-0022-4000-8000-000000000022",
      "name": "Has Pages?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [1210, 300]
    },
    {
      "parameters": {
        "jsCode": "const config = $('After Spider').first().json;\nreturn [{\n  json: {\n    jobId: config.jobId,\n    executionId: config.executionId,\n    startUrl: config.startUrl,\n    results: [],\n    scraperBaseUrl: config.scraperBaseUrl,\n    emptySite: true,\n  },\n}];"
      },
      "id": "a1b2c3d4-0023-4000-8000-000000000023",
      "name": "Prepare Empty Save",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1430, 480]
    },
    {
      "parameters": {
        "jsCode": "const config = $('After Spider').first().json;\nconst pages = config.pages ?? [];\n\nreturn pages.map((pageUrl) => ({\n  json: {\n    jobId: config.jobId,\n    executionId: config.executionId,\n    project: config.project,\n    startUrl: config.startUrl,\n    pageUrl,\n    outputFields: config.outputFields,\n    directions: config.directions,\n    summarizePrompt: config.summarizePrompt,\n    fieldPrompt: config.fieldPrompt,\n    localLlmModel: config.localLlmModel,\n    scraperBaseUrl: config.scraperBaseUrl,\n  },\n}));"
      },
      "id": "a1b2c3d4-0007-4000-8000-000000000007",
      "name": "Split Pages",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1430, 180]
    },
    {
      "parameters": {
        "mode": "runOnceForAllItems",
        "jsCode": "const pages = $input.all().map((item) => item.json);\n\nreturn Promise.all(pages.map(async (page) => {\n  const body = { url: page.pageUrl };\n  if (page.executionId) {\n    body.execution_id = page.executionId;\n  }\n  const response = await this.helpers.httpRequest({\n    method: 'POST',\n    url: page.scraperBaseUrl + '/api/workflow/scrape-page',\n    body,\n    json: true,\n  });\n  if (page.executionId && !response.scrape_id) {\n    throw new Error('scrape-page did not return scrape_id for ' + page.pageUrl);\n  }\n  return {\n    json: {\n      ...page,\n      text: response.text ?? '',\n      textLength: response.textLength ?? (response.text?.length ?? 0),\n      scrapedUrl: response.url ?? page.pageUrl,\n      scrape_id: response.scrape_id ?? null,\n      scrape_date: response.scrape_date ?? null,\n    },\n  };\n}));"
      },
      "id": "a1b2c3d4-0008-4000-8000-000000000008",
      "name": "Scrape Pages",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1650, 300]
    },
    {
      "parameters": {
        "mode": "runOnceForAllItems",
        "jsCode": "const pages = $input.all().map((item) => item.json);\n\nreturn Promise.all(pages.map(async (page) => {\n  if (!page.text?.trim()) {\n    throw new Error('No scraped text for ' + page.pageUrl);\n  }\n  const body = {\n    text: page.text,\n    directions: page.directions,\n    localLlmModel: page.localLlmModel,\n  };\n  if (page.summarizePrompt) body.summarizePrompt = page.summarizePrompt;\n  if (page.fieldPrompt) body.fieldPrompt = page.fieldPrompt;\n  const response = await this.helpers.httpRequest({\n    method: 'POST',\n    url: page.scraperBaseUrl + '/api/workflow/summarize',\n    body,\n    json: true,\n    timeout: 1800000,\n  });\n  return {\n    json: {\n      ...page,\n      summary: response.summary,\n      summaryLength: response.summaryLength,\n    },\n  };\n}));"
      },
      "id": "a1b2c3d4-0010-4000-8000-000000000010",
      "name": "Summarize Pages",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1870, 300]
    },
    {
      "parameters": {
        "mode": "runOnceForAllItems",
        "jsCode": "const pages = $input.all().map((item) => item.json);\n\nreturn Promise.all(pages.map(async (page) => {\n  if (!page.scrape_id) {\n    throw new Error('Missing scrape_id for ' + page.pageUrl + ' — rebuild simple-scraper and re-import the workflow');\n  }\n  if (!page.executionId) {\n    throw new Error('Missing executionId for ' + page.pageUrl);\n  }\n  const saved = await this.helpers.httpRequest({\n    method: 'POST',\n    url: page.scraperBaseUrl + '/api/workflow/save-scrape',\n    body: {\n      scrape_id: page.scrape_id,\n      execution_id: page.executionId,\n      page_url: page.pageUrl,\n      scraped_text: page.text ?? '',\n      summarized_text: page.summary ?? '',\n    },\n    json: true,\n  });\n  return {\n    json: {\n      ...page,\n      scrape_id: saved.scrape_id ?? page.scrape_id,\n      scrape_date: saved.scrape_date ?? page.scrape_date,\n    },\n  };\n}));"
      },
      "id": "a1b2c3d4-0024-4000-8000-000000000024",
      "name": "Save Scrapes",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1980, 300]
    },
    {
      "parameters": {
        "jsCode": "const page = $json;\nconst outputFields = page.outputFields ?? [];\n\nreturn outputFields.map((fieldDef) => ({\n  json: {\n    ...page,\n    field: fieldDef.field_name,\n    extractHint: fieldDef.extract_hint ?? '',\n  },\n}));"
      },
      "id": "a1b2c3d4-0012-4000-8000-000000000012",
      "name": "Split Fields",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [2090, 300]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $json.scraperBaseUrl }}/api/workflow/progress/{{ $json.jobId }}/event",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ type: 'log', level: 'info', message: 'Checking field \"' + $json.field + '\" on page ' + $json.pageUrl }) }}",
        "options": {}
      },
      "id": "a1b2c3d4-0013-4000-8000-000000000013",
      "name": "Log Field Check",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [2640, 300]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $('Split Fields').item.json.scraperBaseUrl }}/api/workflow/extract-field",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ field: $('Split Fields').item.json.field, context: $('Split Fields').item.json.summary, directions: $('Split Fields').item.json.directions, fieldPrompt: $('Split Fields').item.json.fieldPrompt || undefined, localLlmModel: $('Split Fields').item.json.localLlmModel, extractHint: $('Split Fields').item.json.extractHint || undefined }) }}",
        "options": { "timeout": 1800000 }
      },
      "id": "a1b2c3d4-0014-4000-8000-000000000014",
      "name": "Extract Field (Q&A)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [2860, 300]
    },
    {
      "parameters": {
        "jsCode": "const ctx = $('Split Fields').item.json;\nconst extracted = $json.body ?? $json;\nconst found = extracted.value != null && String(extracted.value).trim() !== '';\nreturn [{\n  json: {\n    jobId: ctx.jobId,\n    executionId: ctx.executionId,\n    scrape_id: ctx.scrape_id,\n    scrape_date: ctx.scrape_date,\n    startUrl: ctx.startUrl,\n    pageUrl: ctx.pageUrl,\n    summary: ctx.summary,\n    directions: ctx.directions,\n    summarizePrompt: ctx.summarizePrompt,\n    fieldPrompt: ctx.fieldPrompt,\n    localLlmModel: ctx.localLlmModel,\n    scraperBaseUrl: ctx.scraperBaseUrl,\n    field: extracted.field,\n    value: found ? extracted.value : null,\n    present: found,\n    confidence: extracted.confidence,\n    fieldQuestion: extracted.fieldQuestion,\n    logLevel: found ? 'success' : 'info',\n    logMessage: found\n      ? 'Found \"' + extracted.field + '\" on ' + ctx.pageUrl + ': ' + extracted.value\n      : 'Field \"' + extracted.field + '\" not on ' + ctx.pageUrl,\n  },\n}];"
      },
      "id": "a1b2c3d4-0015-4000-8000-000000000015",
      "name": "Merge Field Result",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [3080, 300]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $json.scraperBaseUrl }}/api/workflow/progress/{{ $json.jobId }}/event",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ type: 'log', level: $json.logLevel, message: $json.logMessage }) }}",
        "options": {}
      },
      "id": "a1b2c3d4-0016-4000-8000-000000000016",
      "name": "Log Field Result",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [3300, 300]
    },
    {
      "parameters": {
        "mode": "runOnceForAllItems",
        "jsCode": "const items = $input.all().map((item) => item.json);\nconst config = $('After Spider').first()?.json ?? items[0] ?? {};\nconst outputFields = config.outputFields ?? [];\nconst requestedFields = outputFields.map((f) => f.field_name);\n\nif (items.length === 0) {\n  return [{\n    json: {\n      jobId: config.jobId,\n      executionId: config.executionId,\n      startUrl: config.startUrl,\n      requestedFields,\n      results: [],\n      findings: [],\n      pageResults: [],\n      scraperBaseUrl: config.scraperBaseUrl,\n      emptySite: true,\n    },\n  }];\n}\n\nconst findings = [];\nconst results = [];\nconst byPage = new Map();\n\nfor (const item of items) {\n  if (!byPage.has(item.pageUrl)) {\n    byPage.set(item.pageUrl, {\n      pageUrl: item.pageUrl,\n      summary: item.summary,\n      fields: [],\n    });\n  }\n  const present = item.present === true;\n  byPage.get(item.pageUrl).fields.push({\n    field: item.field,\n    value: present ? item.value : null,\n    confidence: item.confidence ?? 'unknown',\n    sourcePages: present ? [item.pageUrl] : [],\n  });\n  if (present) {\n    findings.push({\n      field: item.field,\n      value: String(item.value),\n      pageUrl: item.pageUrl,\n      confidence: item.confidence,\n    });\n    results.push({\n      page_url: item.pageUrl,\n      field_name: item.field,\n      field_value: String(item.value),\n    });\n  }\n}\n\nconst first = items[0];\nreturn [{\n  json: {\n    jobId: first.jobId,\n    executionId: first.executionId,\n    startUrl: first.startUrl,\n    requestedFields,\n    results,\n    findings,\n    pageResults: Array.from(byPage.values()),\n    scraperBaseUrl: first.scraperBaseUrl,\n    emptySite: false,\n  },\n}];"
      },
      "id": "a1b2c3d4-0017-4000-8000-000000000017",
      "name": "Aggregate Results",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [3520, 300]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $json.scraperBaseUrl }}/api/workflow/save-execution",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ execution_id: $json.executionId, results: $json.results ?? [], startUrl: $json.startUrl }) }}",
        "options": {}
      },
      "id": "a1b2c3d4-0018-4000-8000-000000000018",
      "name": "Save Execution",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [3740, 300]
    },
    {
      "parameters": {
        "jsCode": "const saved = $json;\nconst source = $('Aggregate Results').first()?.json ?? $('Prepare Empty Save').first()?.json ?? $('After Spider').first()?.json;\nconst emptySite = Boolean(source?.emptySite);\nreturn [{\n  json: {\n    jobId: source.jobId,\n    executionId: source.executionId,\n    scraperBaseUrl: source.scraperBaseUrl,\n    startUrl: source.startUrl,\n    resultsCount: saved.resultsCount ?? 0,\n    message: emptySite\n      ? 'No pages scraped for ' + source.startUrl\n      : 'Saved ' + (saved.resultsCount ?? 0) + ' result(s) to execution ' + source.executionId,\n    level: emptySite ? 'warn' : 'success',\n  },\n}];"
      },
      "id": "a1b2c3d4-0019-4000-8000-000000000019",
      "name": "After Save",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [3960, 300]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $json.scraperBaseUrl }}/api/workflow/progress/{{ $json.jobId }}/event",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ type: 'log', level: $json.level, message: $json.message }) }}",
        "options": {}
      },
      "id": "a1b2c3d4-0020-4000-8000-000000000020",
      "name": "Log Save Done",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [4180, 300]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $json.scraperBaseUrl }}/api/workflow/progress/{{ $json.jobId }}/event",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ type: 'url_done', message: 'Finished processing ' + $json.startUrl }) }}",
        "options": {}
      },
      "id": "a1b2c3d4-0021-4000-8000-000000000021",
      "name": "Log URL Done",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [4400, 300]
    }
  ],
  "connections": {
    "Scrape Webhook": {
      "main": [[{ "node": "Split URLs", "type": "main", "index": 0 }]]
    },
    "Split URLs": {
      "main": [[{ "node": "Log URL Start", "type": "main", "index": 0 }]]
    },
    "Log URL Start": {
      "main": [[{ "node": "Spider URL", "type": "main", "index": 0 }]]
    },
    "Spider URL": {
      "main": [[{ "node": "After Spider", "type": "main", "index": 0 }]]
    },
    "After Spider": {
      "main": [[{ "node": "Log Spider Done", "type": "main", "index": 0 }]]
    },
    "Log Spider Done": {
      "main": [[{ "node": "Has Pages?", "type": "main", "index": 0 }]]
    },
    "Has Pages?": {
      "main": [
        [{ "node": "Split Pages", "type": "main", "index": 0 }],
        [{ "node": "Prepare Empty Save", "type": "main", "index": 0 }]
      ]
    },
    "Prepare Empty Save": {
      "main": [[{ "node": "Save Execution", "type": "main", "index": 0 }]]
    },
    "Split Pages": {
      "main": [[{ "node": "Scrape Pages", "type": "main", "index": 0 }]]
    },
    "Scrape Pages": {
      "main": [[{ "node": "Summarize Pages", "type": "main", "index": 0 }]]
    },
    "Summarize Pages": {
      "main": [[{ "node": "Save Scrapes", "type": "main", "index": 0 }]]
    },
    "Save Scrapes": {
      "main": [[{ "node": "Split Fields", "type": "main", "index": 0 }]]
    },
    "Split Fields": {
      "main": [[{ "node": "Log Field Check", "type": "main", "index": 0 }]]
    },
    "Log Field Check": {
      "main": [[{ "node": "Extract Field (Q&A)", "type": "main", "index": 0 }]]
    },
    "Extract Field (Q&A)": {
      "main": [[{ "node": "Merge Field Result", "type": "main", "index": 0 }]]
    },
    "Merge Field Result": {
      "main": [[{ "node": "Log Field Result", "type": "main", "index": 0 }]]
    },
    "Log Field Result": {
      "main": [[{ "node": "Aggregate Results", "type": "main", "index": 0 }]]
    },
    "Aggregate Results": {
      "main": [[{ "node": "Save Execution", "type": "main", "index": 0 }]]
    },
    "Save Execution": {
      "main": [[{ "node": "After Save", "type": "main", "index": 0 }]]
    },
    "After Save": {
      "main": [[{ "node": "Log Save Done", "type": "main", "index": 0 }]]
    },
    "Log Save Done": {
      "main": [[{ "node": "Log URL Done", "type": "main", "index": 0 }]]
    }
  },
  "pinData": {},
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": []
}
